.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
  border-bottom: 2px solid #477dca;

}

.site-header a {
  color: #0061ee;
  color: #477dca;
  font-family: "Lato";
  font-weight: 400;
  background-image: none;
  &a:hover {
    color: #ffa500;
  }
}

.site-header .site-title {
  font-size: 1.75rem;
  &a:hover {
    color: #ffa500;
  }
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  font-size: $h3;
  color: #737373;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: #444;
  opacity: 1;
  border-bottom: 2px solid #444;
}

.site-header a:hover {
  color: #444;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
