.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
  border-bottom: 1px solid #477dca;

}

.site-header a {
  color: #0061ee;
  color: #477dca;
  font-size: $h6;  
  font-weight: 200;
  font-family: "Roboto Light";
  background-image: none;
}

.site-header .site-title {
  font-size: $h2 !important;
  font-weight: 500 !important;

}

.site-nav {
  margin-top: $space-3;
}

.site-header nav a {
  color: #737373;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: #444;
  opacity: 1;
  border-bottom: 2px solid #477dca;
}

.site-header a:hover {
  font-weight: 400;
  color: #ff8f00;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;

}
