
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #bebebe;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 450;
  color: #303030;
  font-size: $h2
  &:hover {
      text-decoration: underline; 
  } 
}

.post-footer {

  margin-top: .55rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 1.5rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  font-size: $h6;  
  color: #7a7a7a;
}

.related-post-title {
  border-bottom: thin solid #aeaeae;
}
